
/* Image highlight section */
#highlight_section {
    background-color: blanchedalmond;
    padding-left: 20%; 
    padding-right: 20%;
}

#aboutContent {
    padding-left: 12%;
    padding-right:12%;
}


/* media query for desktop viewport targets screen size with a minimum width of 900 */
/*_______________________--------------------------------__________________________*/

@media only screen and (min-width: 900px) {
   
}
